<h1>Add Your Language Names</h1>

<!-- Dual binding -->
<input type="text" [(ngModel)]="language">

&nbsp;
<!-- Event Binding for Add language button-->
<button (click)="addLanguage()">Add</button>

&nbsp;
<!-- Event Binding for the Delete First button  -->
<button (click)="deleteFirst()">Delete First</button>

<!-- List of language -->
<h2>List Of Language:</h2>
<ul>
  <li *ngFor="let lang of listOfLanguage">
    <b>{{ lang }}</b>
  </li>
</ul>

<!-- *ngIf condition -->
<strong *ngIf="listOfLanguage.length > 3">Congrates!, You know more than 3 languages of the world.</strong>